html, h1 , h2, h3 , h4 , ul, li , a , p , 
article , aside , footer , main , nav , section {

    padding: 0;
    margin:0;

}

body{

    background: rgb(42,153,154);
    background: linear-gradient(90deg, rgba(42,153,154,1) 0%, rgba(253,187,45,1) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:antiquewhite;
    font: Tahoma;
    font-size: medium;
    width: 98%;
}


header{

    background-color: teal;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: large;
   
}

main{

    
    width: 600px;
    float: left;
    margin-top: 10px;
    
}

img{

    float:left;
    height: 150%;
    width: 60%;
}

.SectionImg{

    float:left;
    height: 140%;
    width: 60%;

}

video{

    float:left;
    height: 140%;
    width: 60%;
}

aside{

    width: 600px;
    float: right;
    margin-top: 10px;
    background-color: rgba(0, 128, 128, 0);
    border-radius: 25px;
    font-size: large;
}

footer{

    
    clear:both;
    background-color: teal;
    color: white;
    padding: 7px 13px;

}

.center{

    text-align: center;
    
}

nav{

    background-color: teal;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 25px;
  

}

li a{

    color: antiquewhite;
    text-decoration: none;
    margin: 10px;
    font-size: larger;
}
ol a{

    color: blue;
    font-size: large;
    margin: 0%;
    padding:0%;

}

.AsideList{

    font-size: 20px;
}

li{

    display:inline;
    font-weight: bold;
    display:left;
    font-size: 20px;
  
}



section header{

  
    background-color:rgb(0, 128, 128);
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;


}

article header{

 
    background-color: rgb(0, 128, 128);
    border-radius: 0px;
  
}

aside header{

   
    background-color:teal;
    
}

article h3{

    font-style: bold;

}

article{

   
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
    width: 550px;

}

ol{
    list-style:none;
    color: black; 
}

.AsideHead{

    background-color:teal;
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

