html, h1 , h2, h3 , h4 , ul, li , a , p , 
article , aside , footer , main , nav , section {

    padding: 0;
    margin:0;

}

body{

    background: rgb(34,193,195);
    background: linear-gradient(to right, rgb(60, 161, 195), white,orange);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


header{

    background-color: teal;
    padding-bottom: 1%;
    padding-top: 1%;
}

main{

    width: 600px;
    float: left;
    margin-top: 10px;
}

img{

    float:left;
    height: 30%;
    width: 50%;
}

video{
    float:left;
    height: 30%;
    width: 50%;
}

aside{

    width: 320px;
    float: right;
    margin-top: 10px;
    background-color: rgba(0, 128, 128, 0);
    border-radius: 25px;
}

footer{

    
    clear:both;
    background-color: teal;
    color: white;
    padding: 7px 13px;

}

.center{

    text-align: center;
}

nav{

   
    background-color: teal;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 25px;

}

li a{

    color: rgb(255, 255, 255);
}
ol a{

    
    color: rgb(0, 0, 0);

}

.AsideList{

    list-style-type: none;
    font-size: 20px;
}

li{

    display:inline;
    font-weight: bold;
    display:left;
    font-size: 20px;
}

section header{

  
    background-color:rgb(0, 128, 128);

}

article header{

 
    background-color: rgb(0, 128, 128);

}

aside header{

   
    background-color:teal;

}

.pauth{

    font-style: italic;
}

article h3{

    font-style: bold;
}

article{

   
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
}

ol{
    list-style:none;
    color: black; 
}

.AsideHead{

    
    background-color:teal;
    border-radius: 25px;
    padding-bottom: 15px;
    padding-top: 15px;

}

