body {
    background-image: url("../images/cover.jpg");
    background-repeat: repeat-x;
   background-size: cover;
    background-color: #cccccc;
    overflow: hidden;

   }

#nav_bar .nav_button {
    display:inline-block;
    list-style: none;
}

nav{
    text-align: center;
    color: black;
    padding-top: 2%;
    margin-top: -50px;
}

a {
    color: Black;
    font-size: larger;
    text-decoration: none;
  }


main{

    text-align: center;
}

img{
    height:10%;
    width: 10%;
}


footer{

    text-align: center;
}

h1{
    font-family: 'Courier New', monospace;
    font-size: xx-large;
}
p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', monospace;
    text-align: justify;

}
.logo{
    text-align: left;
    margin-top: 20px;
    position: absolute;
    min-width: 100%;
}