body {background-color: darkorange;}

H1{

    color: red;
    text-align: center;
}
img {
    width: 200px;
    margin: auto;
    display: block;
    height: 200px;

  }

p2{

    text-align: center;
     color: blue;

}

ul{

    list-style: none;
    text-align: center;
    font-size: medium;

}